{% extends 'layout.html' %}

{% block body %}
<form action="/db_student" method="POST">
    <div class="col-xs-5">
        <label>Student Name:</label>
        <input type="text" class="form-control" name="student_name" required><br>
        <label>Class Name:</label>
        <div class="form-group">
            <select class="form-control" name="class_id">
                {% for class in class_details %}
                <option value="{{class.class_id}}">
                    {{class.class_name}}
                </option>
                {% endfor %}
            </select><br>
        </div>
        <label>Class Leader :</label>
        <div class="form-group">
            <select class="form-control" name="class_leader">
                <option value="No">No</option>
                <option value="Yes">Yes</option>
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-md text-center" style="width:40%; margin-left:28%;">Save
        </button>
    </div>
</form>
{% endblock %}