{% extends 'home_layout.html' %}

{% block body %}
	
	<div class="container">         
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Student Name</th>
					<th>Class Name</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				{% for student, class in data %}
					<td> {{student.student_name}}</td>
					<td> {{class.class_name}}</td>
					<td>
						<a href = "/view/{{student.student_id}}" type="button" class="btn btn-default btn-sm ">
							<span class="glyphicon glyphicon-user "></span> View 
						</a>
						<a href = "/edit/{{student.student_id}}" type="button" class="btn btn-default btn-sm ">
							<span class="glyphicon glyphicon-pencil"></span> Edit 
						</a>					
						<a href = "/delete/{{student.student_id}}" type="button" class="btn btn-default btn-sm">
							<span class="glyphicon glyphicon-trash"></span> Delete 
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}