<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Student Database</title>
<link rel = " stylesheet " href= " https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css ">
<script src = " https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>
</head>
<body>
	<div class="well well-lg">
		<div class="row">
			<div class="col-sm-4"><h1> Student Database</h1></div>
			<div class="col-sm-4"></div>
			<div class="col-sm-4"><br>
				<p class="text-center">
					<a href="/" type="button" class="btn btn-primary">
						<span class="glyphicon glyphicon-home">
						</span> Home 
					</a>
				</p>
			</div>
		</div>
	</div>
	{% block body %} {% endblock %}
</body>
</html>