{% extends 'layout.html' %}

{% block body %}
	<div class="container"style="margin-left:500px; ">         
		<h3 style="margin-left:70px;">Student Details!!</h3><br>
		<table class="table table-striped" style ="width:350px;">
		<dl>
			<tr>
				<td><dt>Student Id: </dt></td>
				<td><dd></dd></td>
			</tr>
			<tr>
				<td><dt>Student Name: </dt></td>
				<td><dd></dd></td>
			</tr>
			<tr><td><dt>Class Id: </dt></td>
				<td><dd></dd></td>
			</tr>
			<tr><td><dt>Class Name: </dt></td>
				<td><dd></dd></td>
			</tr>
			<tr><td><dt>Class Leader: </dt></td>
				<td><dd></dd></td>
			</tr>
			<tr><td><dt>Created On:</dt></td>
				<td><dd></dd></td>
			</tr>
			<tr><td><dt>Updated On: </dt></td>
				<td><dd></dd></td>
			</tr>
		</dl>
		</table>
	</div>
{% endblock %}